version: '3'
services:
  #  spring-infra:
  #    container_name: spring-infra
  #    build:
  #      context: .
  #      dockerfile: Dockerfile
  #    image: spring-infra:0.0.1-SNAPSHOT
  #    ports:
  #      - "8101:8101"
  #    depends_on:
  #      - postgres


  postgres:
    image: postgres:18.1
    environment:
      - POSTGRES_DB=spring_infra
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secure_access
    ports:
      - '5432:5432'
    volumes:
      - spring-infra-volume_postgres:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=secure_access
      - QUARKUS_TRANSACTION_MANAGER_ENABLE_RECOVERY=true
      - KC_HOSTNAME_STRICT=false
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
#      - KC_HOSTNAME=auth.spring-infra.io
    ports:
      - '9090:8080'
    command:
      - "start-dev"
    depends_on:
      - postgres
    volumes:
      - spring-infra-volume_keycloak:/opt/keycloak/data

volumes:
  spring-infra-volume_postgres:
  spring-infra-volume_keycloak:
